.navi {
    background: #86C232;
    border-bottom: 1px solid rgb(83, 121, 30);
    padding: 10px;
    box-shadow: 0px 1px 10px #494e52;
    margin-bottom: 15px;
}
.links {
    max-width: 25%;
    display: flex;
    justify-content: space-around;
}
.navLink {
    font-size: 20px;
    text-decoration: none;
    color: black;
    background: whitesmoke;
    padding: 10px;
    border-radius: 10%;
    border: 1px solid #61892F;
    box-shadow: -1px 0px 5px gray;
}